<%- include("includes/head.ejs") %>
  <body>
    <h1>This is a homepage 12 + 3 + 5</h1>
     <h3><%= 12 + 3 + 5 %></h3> <!-- ejs dynamic output -->
     <h3><%= ["vaishnavi", "omkar", "sid","sanjana"] [2]%> </h3> <!-- ejs dynamic output -->
     <h3><%= "apnaclg".toUpperCase() %></h3> <!-- ejs dynamic output -->
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed earum,
      nesciunt consectetur quia, nisi magnam possimus explicabo repellat magni,
      quo tempore eaque?
    </p>
    <button>Click me!</button>

    <%- include("includes/footer.ejs") %>
  </body>
</html>
